<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Badges</title>

    <!-- MDI Icons -->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css">

    <!-- Tailwind -->
    <script src="https://cdn-tailwindcss.vercel.app/"></script>
</head>

<body>
    <div class="flex items-center justify-center min-h-screen bg-white">
        <div class="flex flex-col">
            <div class="flex">
                <span class="text-center font-bold my-20 mx-auto">
                    Label Badge icons required MDI (npm i @mdi/font)

                    <hr class="my-4">

                    <a href="https://egoistdeveloper.github.io/twcss-to-sass/" target="_blank" class="text-blue-600">
                        Convetert to SASS
                    </a>
                </span>
            </div>

            <div class="flex flex-col mb-14">
                <h1 class="text-left font-semibold text-2xl mb-3">
                    Rounded Badges
                </h1>

                <!-- One Color Badges -->
                <div class="container">
                    <!-- Black Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                        bg-black hover:bg-gray-500 duration-300 
                        text-xs font-bold 
                        mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                        opacity-90 hover:opacity-100">
                        Black Label
                    </a>

                    <!-- Red Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                        bg-red-400 hover:bg-red-500 duration-300 
                        text-xs font-bold 
                        mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                        opacity-90 hover:opacity-100">
                        Red Label
                    </a>

                    <!-- Yellow Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                        bg-yellow-400 hover:bg-yellow-500 duration-300 
                        text-xs font-bold 
                        mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                        opacity-90 hover:opacity-100">
                        Yellow Label
                    </a>

                    <!-- Green Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                        bg-green-400 hover:bg-green-500 duration-300 
                        text-xs font-bold 
                        mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                        opacity-90 hover:opacity-100">
                        Green Label
                    </a>

                    <!-- Blue Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                        bg-blue-400 hover:bg-blue-500 duration-300 
                        text-xs font-bold 
                        mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                        opacity-90 hover:opacity-100">
                        Blue Label
                    </a>

                    <!-- Purple Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                        bg-purple-400 hover:bg-purple-500 duration-300 
                        text-xs font-bold 
                        mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                        opacity-90 hover:opacity-100">
                        Purple Label
                    </a>

                    <!-- Pink Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                        bg-pink-400 hover:bg-pink-500 duration-300 
                        text-xs font-bold 
                        mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                        opacity-90 hover:opacity-100">
                        Pink Label
                    </a>
                </div>

                <!-- Gradient Badges -->
                <div class="container">
                    <!-- Black Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                        bg-gradient-to-br from-gray-400 to-black 
                        hover:from-gray-400 hover:to-black
                        duration-300 
                        text-xs font-bold 
                        mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                        opacity-90 hover:opacity-100">
                        Black Label
                    </a>

                    <!-- Red Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                        bg-gradient-to-br from-red-300 to-red-900 
                        hover:from-red-300 hover:to-red-900
                        duration-300 
                        text-xs font-bold 
                        mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                        opacity-90 hover:opacity-100">
                        Red Label
                    </a>

                    <!-- Yellow Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-yellow-400 to-yellow-600 
                    hover:from-yellow-400 hover:to-yellow-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Yellow Label
                    </a>

                    <!-- Green Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-green-300 to-green-600 
                    hover:from-green-300 hover:to-green-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Green Label
                    </a>

                    <!-- Blue Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-blue-300 to-blue-600 
                    duration-300 
                    hover:from-blue-300 hover:to-blue-600
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Blue Label
                    </a>

                    <!-- Purple Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-purple-300 to-purple-600 
                    hover:from-purple-300 hover:to-purple-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Purple Label
                    </a>

                    <!-- Pink Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-pink-300 to-pink-600 
                    hover:from-pink-300 hover:to-pink-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Pink Label
                    </a>
                </div>
            </div>

            <div class="flex flex-col mb-14">
                <h1 class="text-left font-semibold text-2xl mb-3">
                    Rounded Icon Badges
                </h1>

                <!-- One Color Badges -->
                <div class="container">
                    <!-- Black Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-black hover:bg-gray-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-memory mr-2"></i>
                        Black Label
                    </a>

                    <!-- Red Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-red-400 hover:bg-red-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-check-all mr-2"></i>
                        Red Label
                    </a>

                    <!-- Yellow Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-yellow-400 hover:bg-yellow-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-cloud-outline mr-2"></i>
                        Yellow Label
                    </a>

                    <!-- Green Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-green-400 hover:bg-green-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-key mr-2"></i>
                        Green Label
                    </a>

                    <!-- Blue Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-blue-400 hover:bg-blue-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-layers-triple-outline mr-2"></i>
                        Blue Label
                    </a>

                    <!-- Purple Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-purple-400 hover:bg-purple-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-lightbulb-on-outline mr-2"></i>
                        Purple Label
                    </a>

                    <!-- Pink Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-pink-400 hover:bg-pink-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-medal-outline mr-2"></i>
                        Pink Label
                    </a>
                </div>

                <!-- Gradient Badges -->
                <div class="container">
                    <!-- Black Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-gray-400 to-black 
                        hover:from-gray-400 hover:to-black
                        duration-300  
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-memory mr-2"></i>
                        Black Label
                    </a>

                    <!-- Red Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-red-300 to-red-900 
                        hover:from-red-300 hover:to-red-900
                        duration-300
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-check-all mr-2"></i>
                        Red Label
                    </a>

                    <!-- Yellow Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-yellow-400 to-yellow-600 
                    hover:from-yellow-400 hover:to-yellow-600
                    duration-300
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-cloud-outline mr-2"></i>
                        Yellow Label
                    </a>

                    <!-- Green Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-green-300 to-green-600 
                    hover:from-green-300 hover:to-green-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-key mr-2"></i>
                        Green Label
                    </a>

                    <!-- Blue Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-blue-300 to-blue-600 
                    hover:from-blue-300 hover:to-blue-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-layers-triple-outline mr-2"></i>
                        Blue Label
                    </a>

                    <!-- Purple Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-purple-300 to-purple-600 
                    hover:from-purple-300 hover:to-purple-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-lightbulb-on-outline mr-2"></i>
                        Purple Label
                    </a>

                    <!-- Pink Label -->
                    <a href="#" class="inline-block rounded-full text-white 
                    bg-gradient-to-br from-pink-300 to-pink-600 
                    hover:from-pink-300 hover:to-pink-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-medal-outline mr-2"></i>
                        Pink Label
                    </a>
                </div>
            </div>

            <div class="flex flex-col mb-14">
                <h1 class="text-left font-semibold text-2xl mb-3">
                    Regular Badges
                </h1>

                <!-- One Color Badges -->
                <div class="container">
                    <!-- Black Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-black hover:bg-gray-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Black Label
                    </a>

                    <!-- Red Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-red-400 hover:bg-red-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Red Label
                    </a>

                    <!-- Yellow Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-yellow-400 hover:bg-yellow-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Yellow Label
                    </a>

                    <!-- Green Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-green-400 hover:bg-green-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Green Label
                    </a>

                    <!-- Blue Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-blue-400 hover:bg-blue-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Blue Label
                    </a>

                    <!-- Purple Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-purple-400 hover:bg-purple-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Purple Label
                    </a>

                    <!-- Pink Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-pink-400 hover:bg-pink-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Pink Label
                    </a>
                </div>

                <!-- Gradient Badges -->
                <div class="container">
                    <!-- Black Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-gray-400 to-black 
                        hover:from-gray-400 hover:to-black
                        duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Black Label
                    </a>

                    <!-- Red Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-red-300 to-red-900 
                        hover:from-red-300 hover:to-red-900
                        duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Red Label
                    </a>

                    <!-- Yellow Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-yellow-400 to-yellow-600 
                    hover:from-yellow-400 hover:to-yellow-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Yellow Label
                    </a>

                    <!-- Green Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-green-300 to-green-600 
                    hover:from-green-300 hover:to-green-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Green Label
                    </a>

                    <!-- Blue Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-blue-300 to-blue-600 
                    hover:from-blue-300 hover:to-blue-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Blue Label
                    </a>

                    <!-- Purple Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-purple-300 to-purple-600 
                    hover:from-purple-300 hover:to-purple-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Purple Label
                    </a>

                    <!-- Pink Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-pink-300 to-pink-600 
                    hover:from-pink-300 hover:to-pink-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        Pink Label
                    </a>
                </div>
            </div>

            <div class="flex flex-col mb-14">
                <h1 class="text-left font-semibold text-2xl mb-3">
                    Regular Icon Badges
                </h1>

                <!-- One Color Badges -->
                <div class="container">
                    <!-- Black Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-black hover:bg-gray-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-memory mr-2"></i>
                        Black Label
                    </a>

                    <!-- Red Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-red-400 hover:bg-red-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-check-all mr-2"></i>
                        Red Label
                    </a>

                    <!-- Yellow Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-yellow-400 hover:bg-yellow-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-cloud-outline mr-2"></i>
                        Yellow Label
                    </a>

                    <!-- Green Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-green-400 hover:bg-green-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-key mr-2"></i>
                        Green Label
                    </a>

                    <!-- Blue Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-blue-400 hover:bg-blue-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-layers-triple-outline mr-2"></i>
                        Blue Label
                    </a>

                    <!-- Purple Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-purple-400 hover:bg-purple-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-lightbulb-on-outline mr-2"></i>
                        Purple Label
                    </a>

                    <!-- Pink Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-pink-400 hover:bg-pink-500 duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-medal-outline mr-2"></i>
                        Pink Label
                    </a>
                </div>

                <!-- Gradient Badges -->
                <div class="container">
                    <!-- Black Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-gray-400 to-black 
                        hover:from-gray-400 hover:to-black
                        duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-memory mr-2"></i>
                        Black Label
                    </a>

                    <!-- Red Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-red-300 to-red-900 
                        hover:from-red-300 hover:to-red-900
                        duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-check-all mr-2"></i>
                        Red Label
                    </a>

                    <!-- Yellow Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-yellow-400 to-yellow-600 
                    hover:from-yellow-400 hover:to-yellow-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-cloud-outline mr-2"></i>
                        Yellow Label
                    </a>

                    <!-- Green Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-green-300 to-green-600 
                    hover:from-green-300 hover:to-green-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-key mr-2"></i>
                        Green Label
                    </a>

                    <!-- Blue Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-blue-300 to-blue-600 
                    hover:from-blue-300 hover:to-blue-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-layers-triple-outline mr-2"></i>
                        Blue Label
                    </a>

                    <!-- Purple Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-purple-300 to-purple-600 
                    hover:from-purple-300 hover:to-purple-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-lightbulb-on-outline mr-2"></i>
                        Purple Label
                    </a>

                    <!-- Pink Label -->
                    <a href="#" class="inline-block rounded-sm text-white 
                    bg-gradient-to-br from-pink-300 to-pink-600 
                    hover:from-pink-300 hover:to-pink-600
                    duration-300 
                    text-xs font-bold 
                    mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                    opacity-90 hover:opacity-100">
                        <i class="mdi mdi-medal-outline mr-2"></i>
                        Pink Label
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>