<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Bar</title>

    <!-- MDI Icons -->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css">

    <!-- Tailwind -->
    <script src="https://cdn-tailwindcss.vercel.app/"></script>

    <style>
        .story-ring {
            padding: 2px;
        }

        .story-text {
            font-size: 13px;
        }
    </style>
</head>

<body>
    <!-- Story Bar Container -->
    <div class="flex flex-col items-center justify-center">
        <span class="text-center font-bold my-20">
            MDI (npm i @mdi/font) reuqired for plus icon

            <hr class="my-4">

            <a href="https://egoistdeveloper.github.io/twcss-to-sass/" target="_blank" class="text-blue-600">
                Convetert to SASS
            </a>
        </span>

        <div class="w-full max-w-md px-7 py-10 mx-auto bg-white rounded-2xl shadow-xl">
            <div class="flex flex-col">
                <div class="flex">
                    <!-- Story Bar -->
                    <ul class="flex items-center justify-center space-x-2">
                        <!-- Add Story -->
                        <li class="flex flex-col items-center space-y-2">
                            <!-- Ring -->
                            <div class="story-ring flex justify-center items-center
                                    bg-gradient-to-tl from-yellow-200 to-orange-500 
                                    rounded-full relative cursor-pointer
                                    hover:from-orange-300 hover:to-red-400
                                    transition-all duration-150 delay-100">
                                <a class="block bg-white p-1 rounded-full" href="#">
                                    <!-- Thumbnail -->
                                    <img class="w-16 rounded-full"
                                        src="https://images.unsplash.com/photo-1638687110777-b3fcdf2f9c57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=200&h=200&q=80">
                                </a>

                                <button class="absolute transition duration-500 bg-white border-gray-400 
                                        h-8 w-8 rounded-full text-white border-2 
                                        border-white flex justify-center items-center opacity-80
                                        hover:opacity-60">
                                </button>

                                <i class="absolute mdi mdi-plus mdi-18px mx-1 text-gray-500"></i>
                            </div>

                            <!-- Username -->
                            <span class="story-text font-medium">
                                You
                            </span>
                        </li>

                        <!-- Story #1 -->
                        <li class="flex flex-col items-center space-y-2">
                            <!-- Ring -->
                            <div class="story-ring flex justify-center items-center
                                    bg-gradient-to-tl from-yellow-200 to-orange-500 
                                    rounded-full relative cursor-pointer
                                    hover:from-orange-300 hover:to-red-400
                                    transition-all duration-150 delay-100">
                                <a class="block bg-white p-1 rounded-full" href="#">
                                    <!-- Thumbnail -->
                                    <img class="w-16 rounded-full"
                                        src="https://images.unsplash.com/photo-1638649602320-450b717fa622?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=200&h=200&q=80">
                                </a>
                            </div>

                            <!-- Username -->
                            <span class="story-text">
                                jett
                            </span>
                        </li>

                        <!-- Story #2 -->
                        <li class="flex flex-col items-center space-y-2">
                            <!-- Ring -->
                            <div class="story-ring flex justify-center items-center
                                    bg-gradient-to-tl from-yellow-200 to-orange-500 
                                    rounded-full relative cursor-pointer
                                    hover:from-orange-300 hover:to-red-400
                                    transition-all duration-150 delay-100">
                                <a class="block bg-white p-1 rounded-full" href="#">
                                    <!-- Thumbnail -->
                                    <img class="w-16 rounded-full"
                                        src="https://images.unsplash.com/photo-1638708644743-2502f38000a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=200&h=200&q=80">
                                </a>
                            </div>

                            <!-- Username -->
                            <span class="story-text">
                                sky
                            </span>
                        </li>

                        <!-- Story #3 -->
                        <li class="flex flex-col items-center space-y-2">
                            <!-- Ring -->
                            <div class="story-ring flex justify-center items-center
                                    bg-gradient-to-tl from-yellow-200 to-orange-500 
                                    rounded-full relative cursor-pointer
                                    hover:from-orange-300 hover:to-red-400
                                    transition-all duration-150 delay-100">
                                <a class="block bg-white p-1 rounded-full" href="#">
                                    <!-- Thumbnail -->
                                    <img class="w-16 rounded-full"
                                        src="https://images.unsplash.com/photo-1638691899851-0e955bceba1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=200&h=200&q=80">
                                </a>
                            </div>

                            <!-- Username -->
                            <span class="story-text">
                                omen
                            </span>
                        </li>

                        <!-- Story #4 -->
                        <li class="flex flex-col items-center space-y-2">
                            <!-- Ring -->
                            <div class="story-ring flex justify-center items-center
                                    bg-gradient-to-tl from-yellow-200 to-orange-500 
                                    rounded-full relative cursor-pointer
                                    hover:from-orange-300 hover:to-red-400
                                    transition-all duration-150 delay-100 
                                    hover:animate-pulse">
                                <a class="block bg-white p-1 rounded-full" href="#">
                                    <img class="w-16 rounded-full"
                                        src="https://images.unsplash.com/photo-1638612913771-8f00622b96fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=200&h=200&q=80">
                                </a>
                            </div>

                            <!-- Username -->
                            <span class="story-text">
                                sage
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>